.mainImage{
	height:150px;
	width:auto;
}

.techHeader{
	padding: 15px;
	margin-top: -10px;
	margin-bottom: 22px;
	margin-right:0px;
	margin-left: 0px;
	color: #085351;font-weight:bold;font-size:12px;
	background-color: #53cedc;
}

.techThumbnail{
	height:50px;
	margin:5px;
}

.logoA{
	margin-bottom:2%;
}